.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
}

.card {
    width: 110px; /* Adjust width for larger screens */
    height: 154px; /* Adjust height for larger screens */
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    display: none;
    width: 60%;
    height: 50%;
    border-radius: 5px;
}

.matched {
    visibility: hidden;
}

/* Responsive layout */
@media screen and (min-width: 1080px) {
   

    .card {
        width: 150px; /* Adjust width for larger screens */
        height: 200px; /* Adjust height for larger screens */
    }
}
@media screen and (max-width: 380px) {
    .game-container {
        justify-content: flex-start; /* Align cards to the start */
    }

    .card {
        width: 65px; /* Adjust width for smaller screens */
        height: 80px; /* Adjust height for smaller screens */
    }
}
@media screen and (min-width: 381px) and (max-width: 760px) {
   

    .card {
        width: 85px; /* Adjust width for smaller screens */
        height: 110px; /* Adjust height for smaller screens */
    }
}
